* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  margin: 0 auto;
  gap: 1rem;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  background: #020217;
}

.GridContainer1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.grid1 {
  background: orangered;
  width: 100%;
  height: 300px;
}
.grid2 {
  background: hsl(31, 77%, 52%);
  width: 100%;
  height: 300px;
}

.GridContainer2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid3 {
  background: green;
  width: 100%;
}
.grid4 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.grid5 {
  background: skyblue;
  width: 100%;
  height: 150px;
}
.grid6 {
  background: skyblue;
  width: 100%;
  height: 150px;
}

/* card styling */
