@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

.MainContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0000ffc6;
}
.link:active {
  color: red;
}

.Card-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box1 {
  background: hsl(31, 77%, 52%);
  padding: 2.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 0.9rem;
}

.box2 {
  background: hsl(184, 100%, 22%);
  padding: 2.5rem;
  font-size: 0.9rem;
}

.box3 {
  background: hsl(179, 100%, 13%);
  padding: 2.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.9rem;
}

.box > h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}

.box > p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  width: 24ch;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 3rem;
}

.btn1 {
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  color: hsl(31, 77%, 52%);
  cursor: pointer;
}

.btn1:hover {
  background: none;
  border: 1px solid hsl(0, 0%, 95%);
  transition: ease-in-out;
  color: hsl(0, 0%, 95%);
}

.btn2 {
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  color: hsl(184, 100%, 22%);
  cursor: pointer;
}

.btn2:hover {
  background: none;
  border: 1px solid hsl(0, 0%, 95%);
  transition: ease-in-out;
  color: hsl(0, 0%, 95%);
}

.btn3 {
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  color: hsl(179, 100%, 13%);
  cursor: pointer;
}
.btn3:hover {
  background: none;
  border: 1px solid hsl(0, 0%, 95%);
  transition: ease-in-out;
  color: hsl(0, 0%, 95%);
}
@media (max-width: 1440px) {
  .Card-container {
    flex-direction: row;
  }
  .box > h1 {
    font-size: 1.5rem;
  }

  .box > p {
    font-size: 0.7rem;
    line-height: 1.7rem;
  }
  .btn1,
  .btn2,
  .btn3 {
    font-size: 0.8rem;
    padding: 0.7rem 1rem;
  }
}

@media (max-width: 540px) {
  .Card-container {
    flex-direction: row;
  }
  .box1,
  .box2,
  .box3 {
    padding: 0.4rem;
  }
  .box > h1 {
    font-size: 1.4rem;
  }

  .box > p {
    font-size: 0.5rem;
    line-height: 1.6rem;
  }
  .btn1,
  .btn2,
  .btn3 {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
  }
}

@media (max-width: 375px) {
  .MainContainer {
    padding: 0rem;
  }
  .Card-container {
    flex-direction: column;
    padding: 0rem;
  }
  .box1,
  .box2,
  .box3 {
    padding: 2rem;
  }
}
